body {
    background: #424242;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    color: #dadada;
    font-size: 18px;
}

a {
    color: #dadada;
}

#container {
    margin: auto;
    max-width: 1200px;
    width: 94%;
}

pre {
    padding: 16px;
    background: #123456;
    color: #00ff00;
    word-break: break-all;
    white-space: pre-wrap;
}

.vocaloid-zone {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
}

.vocaloid{
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.vocaloid p{
    font-size: 21px;
    font-weight: bold;
}
.vocaloid img{
    max-width: 100%;
    max-height: 400px;
}